<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mctech.features.login">

    <application>
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_login"
                android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>